<footer>
    <div class="container">
        <div class="foot">
            <div class="content">
                <div class="logo">
                    <img src="../../../assets/images/LOGO2.png" alt="">
                </div>
                <div class="contact">
                    <div class="address">
                        <img src="../../../assets/images/location.png" alt="">
                        <p>345 Faulconer Drive, Suite 4 • Charlottesville, CA, 12345</p>
                    </div>
                    <div class="call">
                        <div class="phone">
                            <img src="../../../assets/images/phone.png" alt="">
                            <p>(123) 456-7890</p>
                        </div>
                        <div class="fax">
                            <img src="../../../assets/images/fax.png" alt="">
                            <p>(123) 456-7890</p>
                        </div>
                    </div>
                    <div class="social">
                        <p>Social Medias</p>
                        <img src="../../../assets/images/Facebook.png" alt="">
                        <img src="../../../assets/images/Twitter.png" alt="">
                        <img src="../../../assets/images/LinkedIn.png" alt="">
                        <img src="../../../assets/images/Youtube.png" alt="">
                        <img src="../../../assets/images/Instagram.png" alt="">
                        <img src="../../../assets/images/GooglePlus.png" alt="">
                        <img src="../../../assets/images/Pinterest.png" alt="">
                        <img src="../../../assets/images/RSS.png" alt="">
                    </div>
                </div>
            </div>

            <div class="footer-footer">
                <div class="navs">
                    <ul>
                        <li><a href="#">abouts us</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">help</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">disclaimer </a></li>

                    </ul>
                </div>
                <div class="copy">
                    <p>Copyright © 2020 Minimumlivingcost. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>