<section>
    <div class="container">
        <div class="top">
            <h2> <span>list</span> of properties</h2>
            <button type="button">View All Properties</button>
        </div>
        <div class="rooms">
            <div class="room" *ngFor="let room of listOne">
                <div class="img">
                    <img src={{room.img}} alt="">
                </div>
                <div class="info">
                    <p>{{room.title}}</p>
                    <small>{{room.type}}</small>
                    <h4>{{room.price }}</h4>
                </div>
                <div class="details">
                    <div class="bed">
                        <img src={{room.bed}} alt="">
                        <p>{{room.bedNumber}}</p>
                    </div>
                    <div class="bath">
                        <img src={{room.shower}} alt="">
                        <p>{{room.showerNumber}}</p>
                    </div>
                    <div class="size">
                        <img src={{room.symbol}} alt="">
                        <p>{{room.symbolNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>