section {
  background: #f5f5f5;
  padding: 50px 0;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
h2 {
  font-family: var(--bold);
  text-transform: capitalize;
}
h2 span {
  border-bottom: 2px solid #f4511e;
}
button {
  background: #f4511e;
  padding: 15px 20px;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 8.148148536682129px 6.518518447875977px 0px #f85a4707;
}
.rooms {
  display: flex;
  justify-content: center;
  column-gap: 35px;
  align-items: center;
  flex-wrap: wrap;
}
.room {
  background: #fff;
  max-width: 300px;
  border: 1px solid #979797;
  border-radius: 25px;
  font-family: var(--normal);
  text-transform: capitalize;
  transition: all 0.5s ease;
  width: 30%;
  margin-bottom: 35px;
}
.room:hover {
  border: 0;
  cursor: pointer;
  box-shadow: 0px 34.06928634643555px 36.19861602783203px 0px #00000022;
}
.info {
  padding: 10px 0 20px 20px;
  border-bottom: 1px solid #e4e4e4;
}
.info p {
  font-weight: 700;
  margin-bottom: 20px;
}
small {
  color: #818181;
}
h4 {
  color: #f4511e;
  font-weight: 700;
  font-size: 18px;
}
.details {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.details p {
  font-weight: 700;
}
.details img {
  width: 15px;
}
.bed,
.bath,
.size {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 8px;
  padding: 20px 5px;
}
.bed,
.bath {
  border-right: 1px solid #e4e4e4;
}
@media screen and (max-width: 900px) {
  .room {
    width: 100% !important;
  }
}
@media screen and (max-width: 700px) {
  .rooms {
    flex-direction: column;
  }
}
