<section>
    <div class="container">
        <div class="search-rooms">
            <div class="gallery">
                <div class="gallery-top">
                    <div class="flexible">
                        <img src="../../../assets/images/flexible.png" alt="">
                        <p>Flexible Leases</p>
                    </div>
                    <div class="happiness">
                        <img src="../../../assets/images/happiness.png" alt="">
                        <p>7-Day Happiness Guaranteed</p>
                    </div>
                </div>
                <div class="gallery-bottom">
                    <div class="cleaning">
                        <img src="../../../assets/images/cleaning.png" alt="">
                        <p>Monthly House Cleaning</p>
                    </div>
                    <div class="roommate">
                        <img src="../../../assets/images/roommate.png" alt="">
                        <p>Choose Your Own Roommate</p>
                    </div>
                </div>
            </div>
            <div class="content">
                <h3>Flexibility and options to suit your lifestyle.</h3>
                <p>You need it? We got it. We make finding your next home easy, comfortable, and simple. From our
                    happiness guarantee to
                    our selective roommate finder option. We provide you the flexibility that you most desire.</p>
                <button>Search Rooms</button>
            </div>
        </div>
    </div>
</section>