<section>
    <div class="small-container">
        <div class="content">
            <div class="testimony">
                <div class="testimony-text">
                    <div class="testimony-slider">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum nisl et nunc
                            facilisis, a
                            commodo eros
                            mollis.
                            Nunc vel pellentesque est. Curabitur at odio sit amet libero vulputate efficitur ac nec
                            justo.
                            Nulla vitae mauris
                            quam.
                            Nulla quam massa, faucibus id pretium ac, mattis eu velit. Donec sed risus a lacus fringilla
                            finibus.</p>
                        <div class="profile">
                            <div class="img">
                                <img src="../../../assets/images/Ellipse.png" alt="">
                            </div>
                            <div class="person">
                                <h4>Harry Wilson</h4>
                                <small>Propery Owner</small>
                            </div>
                        </div>
                        <img class="quote" src="../../../assets/images/“.png" alt="">
                    </div>
                </div>
            </div>

            <div class="iframe">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/tELr8Xc9ITM" frameborder="0">
                </iframe>
            </div>
        </div>
    </div>
</section>